
:root {
  --purple: #420772;
  --Teal: #088e97;
  --Tan: #a5aab1;
  --gold: #d3af0d;
}

  /* set content highlight color and background */
::selection {
  background-color: var(--Teal);
  color: var(--Purple);
}

html {
  /* set 1rem to 10px instead of native 16px to make it easier to calculate font-size values for the rest of the page (e.g. 1.6rem is 16px, 2.0rem is 20px, etc.) */
  font-size: 62.5%;
}

body{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 2rem;
  line-height: 1.5;
  color: var(--Tan);
  font-style: oblique;
  font-weight: bolder;
  margin: 0;
  background-color: var(--purple);

}

h1,
h2,
h3,
h4,
h5,
h6 {
margin-bottom: 2rem;
margin-top: 2rem;
color: var(--gold);
font-weight: 700;
line-height: 2;
}

h1 {
/* 4rem = 40px (4 * 10px) */
font-size: 6rem;
}

h2 {
font-size: 5rem;
}

h3 {
font-size: 4rem;
}

h4 {
font-size: 3.5rem;
}

h5 {
font-size: 2rem;
}

h6 {
font-size: 1rem;
}

p {
  margin-bottom: 1rem;
}


header {
  text-align: right;
  width: 100%;
  margin: 0 auto;
  padding: 2.5rem;
  display: flex;
  Background: linear-gradient(0.25turn, #088e97, #420772);
}

header nav {
  padding-top: 15px;
  margin-right: 20px;
  float: left;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 30px;
  position: relative;
  box-shadow: 10px 10px 5px black;
  border-radius: 50px;
  border: 3px solid black;

}


header nav ul {
  list-style-type: none;
  margin: 10px;
  padding: 10px;
  overflow: hidden;

}

header nav ul li {
  display: inline-block;
  margin-left: 25px;
  float: left;

}

li a {
  display: block;
  color: var(--gold);
  text-align: center;
  padding: 20px 15px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
  border-radius: 50px;
}



main {
  width: 96%;
  margin: 2rem auto; 
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;

}




footer {
  
  color: black;
  Background: linear-gradient(0.25turn, #088e97, #420772);
  text-align: center;
  position: relative;
  padding: 30px;
  clear: both;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;    
  font-size: 30px;
  align-items: center;
}
 

 

aside {  
  color: var(--Teal);
  text-align: right;
  font-size: 6rem;
  width: 25%;
  padding-left: 20px;
  margin-left: 20px;
  margin-top: 100px;
  float: right;
  font-style: italic;
  order:2;

}



.name {
  padding: 1rem 1.2rem;
  font-size: 10rem;

  
}


.picture { 

  max-width: 150%;
  height: auto;
  flex: 1 0 200px;
  border: 10px solid var(--Teal);
  position: relative;
  box-shadow: 10px 10px 5px black;
  
}

.projectpic {
 
  display: inline;
  max-width: 100%;
  height: auto;
  border-style: solid;
  border-width: 1px; 
  flex: 1 0 200px;

}



.project {
  flex: 1 0 100%;
  padding: 1.5rem;
  /* when the screen resizes, make it so our columns don't jump in size */
  transition: flex-basis 500ms linear;
  margin-bottom: 1.5rem;
  border-style: solid;
  border-width: 1px;
  padding: 10px;
  float: left;
  width: 25%;
  margin: 5rem;
  background-color: var(--Teal);
  box-shadow: 10px 10px 5px black;

}

.project1 {
  flex: 1 0 100%;
  padding: 1.5rem;
  /* when the screen resizes, make it so our columns don't jump in size */
 
  margin-bottom: 1.5rem;
  border-style: solid;
  border-width: 1px;
  padding: 10px;
  margin: 5rem;
  background-color: var(--Teal);
  box-shadow: 10px 10px 5px black;

}

.project-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100%;
  padding: 2rem;
  color: var(--gold);
  /* outline is like border, but on the outside of the box instead of inside */
  outline: 2px solid var(--Tan);
  outline-offset: -2px;
  transition: all 0.5s ease-in-out;
  background-color: var(--Teal);

}



.project-header {
  /* use position and negative margins to move title of card over the card's outline and create an overlap effect */
  position: relative;
  margin: -4rem 0 1.5rem 0;
  padding: 0.5rem 1rem;
  background-color: black;
  color: var(--Gold);
  border: 2px solid var(--Tan);
  border-radius: 8px;
  transition: all 0.5s ease-in-out;

}

.project-p {
  text-align: center;
}

.project-img {
  width: 100%;
}

.project-card:hover,
.project-card:hover .project-header {
  box-shadow: inset 0px 0px 15px white, 0 0 30px white;
}

#work {
  box-shadow: 10px 10px 5px black;
  border-radius: 50px;
  position: relative;
  margin: 0rem 0 1.5rem 0;
  padding: 0.5rem 1rem;
  color: var(--Gold);
  border: 2px solid var(--Tan);
  Background: linear-gradient(0.25turn, #088e97, #420772);
  

}


#contact {
  
  display: inline-block;
  align-items: center;
  text-align: center;
  position: relative;
  box-shadow: 10px 10px 5px black;
  border-radius: 50px;

}

  /* media query for larger screens */
  @media screen and (max-width: 992px) {
    .project, nav{
      width: 50%;
    
      }
    

}  



/* first project larger than the rest */
.project1 first-child {
  flex-grow: 1;
  
}


  
@media screen and (max-width: 768px) {
  .project {
    width: 75%;
      }
}     

 /* Projects are stacked on top of each other at 576px or smaller */
 @media screen and (max-width: 576px) {
  .project, {
    float: none;
    width: 100%;
      }
}     





